*{
    padding: 0px;

}
body{
    background-image: url(fondo.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
} 
h1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
}
p{
    background-color: white;
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: black;
}
body{
    padding: 50px;
}
.box {
    padding-top: 20px;
    padding-left: 70px;
    margin-left: 20px;
    max-width: 500px;
}
.box1 {
    margin-left: 20px;
    padding-top: 30px;
    padding-left: 70px;
    max-width: 500px;
}
img {
    float: right;
    display: block;
    border-radius: 25px;
    width: 30%;
    height:50%;
}
.ojo {
    margin-top: 100px;
    margin-right: 130px;
    margin-left: 190px;
}